.cd-body{
    background-color: rgb(237, 241, 239);
}   
.lq-maion{
    /* background-color: rgb(203, 242, 252); */
    background-color:white;
    color: rgb(40, 39, 37);
    text-align: center;
    width: 400px;
    height: 500px;
    margin-top: 200px;
    margin-left: 650px;
    border: 1px solid rgb(200, 188, 188);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}
.bg-main{
    margin-left: 40px;
    font-family:"Gill Sans", sans-serif;
}

 
.dw-vosi{
    margin-top: 10px;
    margin-left: 25px;
    width: 300px;
    height: 30px;
    font-family:"Gill Sans", sans-serif;
    border-radius: 3px;
  
}
.bf-mitring{
 margin-left: 40px;
 margin-top: 50px;
}